
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Inicio</ion-title>
        <ion-button (click)="salir()" slot="end"><ion-icon style="height: 30px; width: 30px;" name="exit-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4">
        <ion-card>
          <ion-item>
            <ion-card-title>Moniliasis del cacao</ion-card-title>
          </ion-item>
          <img class="imagen" src=".\assets\imagenes\moniliasis.jpg" alt="">
          <ion-item>
            <ion-card-content>
              Enfermedad que ataca de manera directa a el fruto de cacao, por medio de diversos factores infecciosos que perjudican la estructura y desarrollo del mismo. 
            </ion-card-content>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4">
        <ion-card>
          <ion-item>
            <ion-card-title>Moniliasis: Características</ion-card-title>
          </ion-item>
          <img class="imagen" src=".\assets\imagenes\infectada3.jpg" alt="">
          <ion-item>
            <ion-card-content>
              Manchas negras, zonas necróticas, y crecimiento prematuro del fruto.
            </ion-card-content>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4">
        <ion-card>
          <ion-item>
            <ion-card-title>Moniliasis fase 2: Prevenir fase 3</ion-card-title>
          </ion-item>
          <img class="imagen" src=".\assets\imagenes\podar.png" alt="">
          <ion-item>
            <ion-card-content>
              Podar y destruir las ramas y frutos que hayan sido afectados para evitar el contagio.
            </ion-card-content>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4">
        <ion-card>
          <ion-item>
            <ion-card-title>Con moniliasis</ion-card-title> <br>
          </ion-item>
            <img class="imagen" src=".\assets\imagenes\fase2.jpg" alt="">
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4">
        <ion-card>
          <ion-item>
            <ion-card-title>Sin moniliasis</ion-card-title> <br>
          </ion-item>
          <img class="imagen" src=".\assets\imagenes\sana.jpg" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
