
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Inicio</ion-title>
        <ion-button (click)="salir()" slot="end"><ion-icon style="height: 30px; width: 30px;" name="exit-outline"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4" class="claseN">
        <ion-row>
          <ion-col size="2" style="border: solid #ffffff;">
              <div id="divC">
                <label>Moniliasis del cacao</label>
              </div>
          </ion-col>
          <ion-col>
            <div>
              <img class="imagen" src=".\assets\imagenes\moniliasis.jpg" alt="">
              <p>
                Enfermedad que ataca de manera directa a el fruto de cacao, por medio de diversos factores infecciosos que perjudican la estructura y desarrollo del mismo. 
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4" class="claseW">
          <ion-row>
            <ion-col size="2" style="border: solid #DF8614;">
              <div id="divC">
                <label>Moniliasis: Características</label>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <img class="imagen" src=".\assets\imagenes\infectada3.jpg" alt="">
                <p>
                  Manchas negras, zonas necróticas, y crecimiento prematuro del fruto.
                </p>
              </div>
            </ion-col>
          </ion-row>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4" class="claseN">
          <ion-row>
            <ion-col size="2" style="border: solid #ffffff;">
              <div id="divC">
                <label>Moniliasis fase 2: Prevenir fase 3</label></div>
            </ion-col>
            <ion-col>
              <div>
                <img class="imagen" src=".\assets\imagenes\podar.png" alt="">
                <p>
                  Se recomienda aplicar el método natural donde el fruto es removido y dejado en el suelo.
                </p>
                <p>
                  No es recomendable el tratamiento químico ya que no es económico usar fungicidas por 
                  su alto costo y puede afectar toda la estructura de la mazorca.
                </p>
              </div>
            </ion-col>
          </ion-row>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4" class="claseW">
          <ion-row>
            <ion-col size="2" style="border: solid #DF8614;">
              <div id="divC">
                <label>Con moniliasis</label> <br></div>
            </ion-col>
            <ion-col>
              <div>
                <img class="imagen" src=".\assets\imagenes\fase2.jpg" alt="">
              </div>
            </ion-col>
          </ion-row>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6" sizeLg="6" sizeSm="4" class="claseN">
          <ion-row>
            <ion-col size="2" style="border: solid #ffffff;">
              <div id="divC">
                <label>Sin moniliasis</label> <br></div>
            </ion-col>
            <ion-col>
              <div>
                <img class="imagen" src=".\assets\imagenes\sana.jpg" alt="">
              </div>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>